<!--
<mat-selection-list #authors>
  <mat-list-item  *ngFor="let author of typesOfAuthors">
    <mat-list-option>
      <span *ngIf="author.id == id; else other">
        {{name}}
        </span>
        <ng-template #other>
          {{author.name}}
        </ng-template>
    </mat-list-option>
     <!-- <a routerLink="/editauthor/{{author.id}}" routerLinkActive="active">Edit Author</a>-->
   <!--
    </mat-list-item>
  </mat-selection-list>
  
  <p>
    Options selected: {{authors.selectedOptions.selected.length}}
  </p>
-->

<p *ngIf = "!(authors$ | async)"> Loding...</p>
<mat-accordion>
  <mat-expansion-panel *ngFor = "let author of authors$ | async">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{author}}
      </mat-panel-title>
    </mat-expansion-panel-header>   
  </mat-expansion-panel>
</mat-accordion>


<form #editAuthorForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="example-container">
    <mat-form-field>
        <input matInput placeholder="Author's name" [(ngModel)] = "name"
                        name = "name"
                        required
                        #auth = "ngModel">
        <mat-error *ngIf="!(auth.valid || auth.pristine)">
        Author name is required
        </mat-error>                        
    </mat-form-field>
  
    <div >
        <button mat-raised-button color="primary" [disabled]="!editAuthorForm.form.valid">Add a author</button>
    </div>
    </div>
</form>
